/* Global styling */
* {
    background-color: #23272A;
    font-family: "Consolas", "Courier";
    color: #7289DA;
}

/* Extra text styling */
code {
    color: #6665d2;
    background-color: #2C2F33;
    padding: 1px;
    font-size: 105%;
    border-radius: 3px;
}

a {
    color: #6665d2;
}

div#info * {
    margin-bottom: 7px;
}

div#info *:not(h2) {
    margin-top: 0px;
}

/* Solvestatus colour and animations */
p#solvestatus.correct:not(.fadetogrey) {
    color: #29b765;
    animation-name: statuscorrect;
    animation-duration: 1s;
}

p#solvestatus.incorrect:not(.fadetogrey) {
    color: #FF335C;
    animation-name: statusincorrect;
    animation-duration: 1s;
}

p#solvestatus.correct.fadetogrey {
    color: #23272A;
    animation-name: statuscorrecttogrey;
    animation-duration: .5s;
}

p#solvestatus.incorrect.fadetogrey {
    color: #23272A;
    animation-name: statusincorrecttogrey;
    animation-duration: .5s;
}

/* Options table, buttons, and dropdown selector menu */
div#boardparent {
    white-space: nowrap;
    border-collapse: collapse;
    padding: 0px;
    display: inline-block;
}

div.buttonsrow {
    display: flex;
    justify-content: center;
    margin-top: 3px;
}

div.buttonsrow * {
    margin-right: 3px;
}

button:not([id^="R"]), select#changePuz {
    border-width: 2px;
    border-radius: 2px;
    border-color: #7289DA;
    cursor: pointer;
}

/* Gameboard styling */
table#gameboard {
    margin-bottom: 5px;
}

#gameboard, #gameboard td, #gameboard th, button[id^="R"] {
    width: 48px;
    height: 48px;
    font-size: 30px;
    vertical-align: middle;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #7289DA;
    background-color: #2C2F33;
    padding: 0;
    border-collapse: collapse;
}

/* Enabled cells */
button[id^="R"]:not(.disabled) {
    cursor: pointer;
}

button.updatedCell {
    animation-name: blurplefade;
    animation-duration: 1s;
}

button[id^="R"]:not(.disabled):hover {
    background-color: #23272A;
}

/* Disabled cells */
button[id^="R"].disabled {
    font-weight: bold;
    color: #6665d2;
}

/* Keyframes animations */
@keyframes blurplefade {
    from {color: #29b765}
    to {color: #7289DA}
}

@keyframes statuscorrect {
    from {color: #23272A}
    to {color: #29b765}
}

@keyframes statusincorrect {
    from {color: #23272A}
    to {color: #FF335C}
}

@keyframes statuscorrecttogrey {
    from {color: #29b765}
    to {color: #23272A}
}

@keyframes statusincorrecttogrey {
    from {color: #FF335C}
    to {color: #23272A}
}
