* {
    background-color: #23272A;
    font-family: "Consolas";
    color: #7289DA;
}

/* Gameboard styling */
.gameboard, td, th, button {
    width: 45px;
    height: 45px;
    font-size: 30px;
    vertical-align: middle;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #7289DA;
    background-color: #2C2F33;
    padding: 0;
    border-collapse: collapse;
}

/* Enabled cells */
button:not(.disabled) {
    cursor: pointer;
}

button:not(.disabled):hover {
    background-color: #23272A;
}

/* Disabled cells */
button.disabled {
    font-weight: bold;
    color: #6665d2;
}
